{% extends "base.html" %}

{% block title %} EDT {% endblock %}
{% block content %}
{% load static %}
  <link rel="stylesheet" href="{% static "flopeditor/sidenav.css" %}"/>
  <link rel="stylesheet" href="{% static "base/better.css" %}"/>
  <script>
  var url_cours = "{% url "flopeditor:recup_cours" 0 0 %}";
  url_cours = url_cours.slice(0,-3);
  var year = {{year}};
  var week = {{week}};
  console.log(year);
  console.log(week);
  console.log(url_cours);
  </script>
  <script type="text/javascript" src="{% static 'flopeditor/printSVG.js' %}"></script>
  <script type="text/javascript" src="{% static 'flopeditor/editor.js' %}"></script>

  <div class="sidenav">
    <button class="accordion">Ajouter cours</button>
    <div class="panel">
      <form action="{% url 'flopeditor:ajout_cours' %}" method="post" >
        Semaine<br>
        <input type="text" name="week_list" placeholder="Ex: 38 ou 38,42,51">
        <br>Année<br>
        <input type="text" name="year"  placeholder="Ex: 2015">
        <br>Prof<br>
        <input type="text" name="prof" placeholder="Ex: PSO">
        <br>Group<br>
        <input type="text" name="group" placeholder="Ex: 3A">
        <br>Module<br>
        <input type="text" name="module" placeholder="Ex: IAP">
        <br><br>
        <input type="submit" value="Valider">
      </form>
    </div>

    <button class="accordion">Supprimer cours</button>
    <div class="panel">
      <form action="{% url 'flopeditor:suppr_cours' year week %}" method="post" >
        Cours<br>
        <input id="course_list" type="textarea" name="course_list" readonly>
        <br>
        <input type="submit" value="Valider">
      </form>
    </div>

    <script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight){
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        }
      });
    }
    </script>
  </div>
{% endblock %}
