<!-- This file is part of the FlOpEDT/FlOpScheduler project.               -->
<!-- Copyright (c) 2017                                                    -->
<!-- Authors: Iulian Ober, Paul Renaud-Goud, Pablo Seban, et al.           -->
<!--                                                                       -->
<!-- This program is free software: you can redistribute it and/or modify  -->
<!-- it under the terms of the GNU Affero General Public License as        -->
<!-- published by the Free Software Foundation, either version 3 of the    -->
<!-- License, or (at your option) any later version.                       -->
<!--                                                                       -->
<!-- This program is distributed in the hope that it will be useful, but   -->
<!-- WITHOUT ANY WARRANTY; without even the implied warranty of            -->
<!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU      -->
<!-- Affero General Public License for more details.                       -->
<!--                                                                       -->
<!-- You should have received a copy of the GNU Affero General Public      -->
<!-- License along with this program. If not, see                          -->
<!-- <http://www.gnu.org/licenses/>.                                       -->
<!--                                                                       -->
<!-- You can be released from the requirements of the license by purchasing -->
<!-- a commercial license. Buying such a license is mandatory as soon as   -->
<!-- you develop activities involving the FlOpEDT/FlOpScheduler software   -->
<!-- without disclosing the source code of your own applications.          -->

{% extends "base.html" %}

{% block title %} EDT {% endblock %}
{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static "flopeditor/sidenav.css" %}"/>
<link rel="stylesheet" href="{% static "base/better.css" %}"/>



<script>
  var url_cours = "{% url "flopeditor:recup_cours" 0 0 %}";
  url_cours = url_cours.slice(0,-3);
</script>



<script type='text/javascript' src="{% static 'flopeditor/test.js' %}"></script>




<div class="sidenav">
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>

  <button class="accordion">Ajouter cours</button>
  <div class="panel">
    <form action="{% url 'flopeditor:ajout_cours' %}" method="post" >
      Semaine<br>
      <input type="text" name="week_list" placeholder="Ex: 38 ou 38,42,51">
      <br>Prof<br>
      <input type="text" name="prof" placeholder="Ex: PSO">
      <br>Group<br>
      <input type="text" name="group" placeholder="Ex: 3A">
      <br>Module<br>
      <input type="text" name="module" placeholder="Ex: IAP">
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </div>

</div>




<div id="tools-main" style="padding:10px;">

    <h4>TESTTTTTTTTTTTTTTTTTTTTTTTTTTT</h4>



</div>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  });
}
</script>
{% endblock %}
